<html lang="en">
    <head>
        <title>Leonardo's Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <meta name="description" content="Google Description Goes Here." />
        <meta name="keywords" content="Tags, For, Google, Go, Here" />
        <meta name="author" content="Leonardo" />
        <link rel="stylesheet" href="/css/css_sheet.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    </head>
    <body>
        <div class="centertext">
            João 
            Leonardo
            
        </div>
        <span class="paddingspan"></span>
        <span class="socials">
            <a href="https://www.linkedin.com/in/jo%C3%A3o-pereira-2a5a64125/">
                <img src="/images/linkedinlogo.png" alt="Social media logo should be here...." class="socialslogo">
            </a>
            <a href="https://github.com/PyFulken">
                <img src="/images/githublogo.png" alt="Social media logo should be here...." class="socialslogo">
            </a>
            <p class="visitorcounter">This site has been visited <%= data %>  times.</p>
        </span>
        <span class="paddingspan"></span>
        
        <div class="paddingdiv">
        </div>
        <div>  
            <video src="/videos/MockupAPI.mp4" type="video/mp4" autoplay muted loop id="myVideo" class="videoloopleft"></video>
            <h1>Tour Business API mockup</h1>
            <h4>NodeJS | Express | MongoDB | Postman</h2>
            <p>
                I've created a very basic, model–view–controller (MVC) mockup API for an imaginary business selling tours.
                This project was done in the the scope of my programming self-learning endeavours.
            </p> 
        </div>
        <div class="videopaddingdiv">
        </div>
            <video src="/videos/MockupAPI.mp4" type="video/mp4" autoplay muted loop id="myVideo" class="videoloopright"></video>
            <h1>Tour Business API mockup</h1>
            <h4>NodeJS | Express | MongoDB | Postman</h2>
            <p>
                I've created a very basic, model–view–controller (MVC) mockup API for an imaginary business selling tours.
                This project was done in the the scope of my programming self-learning endeavours.
            </p>
        </div>
        <div class="videopaddingdiv"></div>
    </body>
</html>