<html lang="en">
    <head>
        <title>Website Name That Appears On Tab Goes Here</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <meta name="description" content="Google Description Goes Here." />
        <meta name="keywords" content="Tags, For, Google, Go, Here" />
        <meta name="author" content="My Name" />
        <link rel="stylesheet" href="" />
    </head>
    <style>
        body {
          background-image: url('./../public/html/background.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style> 
    <body>
        <div>
            <h1>There was an error.</h1>
        </div>
    </body>
</html>